NEXT_PUBLIC_SUPABASE_URL=https://piwgjibtrlyllcueshkq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_PGZGmN3q-YaJIy2hOW42iQ_uzLeG_gl
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

OPENAI_API_KEY=your_openai_key
TAVILY_API_KEY=your_tavily_key
